<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="2">
  <section id="service.binary.nolimitconnect">
    <category id="identity" label="30100" help="30110">
      <group id="1">
        <setting id="user_name" type="string" label="30101" help="30111">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>

        <setting id="mood_message" type="string" label="30102" help="30112">
          <level>0</level>
          <default>Let's Communicate!</default>
          <control type="edit" format="string" />
        </setting>
      </group>
    </category>

    <category id="network" label="30120" help="30130">
      <group id="1">
        <setting id="listen_port" type="string" label="30121" help="30131">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string" />
        </setting>

        <setting id="network_host_url" type="string" label="30122" help="30132">
          <level>0</level>
          <default>ptop://nolimitconnect.net:45124</default>
          <control type="edit" format="string" />
        </setting>

        <setting id="connection_test_url" type="string" label="30123" help="30133">
          <level>0</level>
          <default>ptop://nolimitconnect.xyz:45124</default>
          <control type="edit" format="string" />
        </setting>

        <setting id="connection_mode" type="integer" label="30124" help="30134">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30125">0</option>
              <option label="30126">1</option>
            </options>
          </constraints>
          <control type="list" format="string" />
        </setting>

        <setting id="external_ip" type="string" label="30127" help="30135">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="connection_mode" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="string" />
        </setting>
      </group>
    </category>

    <category id="run" label="30140" help="30150">
      <group id="1">
        <setting id="run_now" type="boolean" label="30141" help="30151">
          <level>0</level>
          <visible>true</visible>
          <enabled>true</enabled>
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>
    </category>
  </section>
</settings>
